<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Topic : Create')">
	<title>Topic : Create</title>
</head>
<body>
<div class="container">
	<div th:replace="fragments :: navbar"></div>
	<h1>Topic : Create</h1>
	<form id="topicForm" th:action="@{/v1/reddit/topics}" th:object="${topic}" action="#" method="post">
		<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
			<p th:each="error : ${#fields.errors('*')}" th:text="${error}"> Validation error</p>
		</div>
		<label for="text">Topic</label>
		<textarea th:field="*{text}" th:class="${#fields.hasErrors('text')} ? 'field-error'"></textarea>
		<div class="form-actions">
			<input type="submit" value="submit"/>
		</div>
	</form>
</div>
</body>
</html>
