<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Topics : View all')">
	<title>Topics : View all</title>
</head>
<body>
<div class="container">
	<div th:replace="fragments :: navbar"></div>
	<h1>Topics : View top 20 topics</h1>
	<div class="container">
		<div class="pull-right">
			<a href="/v1/reddit/topics/new">Create Topic</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<td>Upvote</td><td>Downvote</td>
				<td>Upvote count</td><td>Downvote count</td>
				<td>Topic</td>
			</tr>
			</thead>
			<tbody>
			<tr th:if="${topics.empty}">
				<td colspan="5">No topics</td>
			</tr>
			<tr th:each="topic : ${topics}">
				<td>
					<form th:action="@{'/v1/reddit/topics/' + ${topic.id} + '/up'}" method="post">
						<input type="submit" value="up" />
					</form>
				</td>
				<td>
					<form th:action="@{'/v1/reddit/topics/' + ${topic.id} + '/down'}" method="post">
						<input type="submit" value="down" />
					</form>
				</td>
				<td th:text="${topic.up}"></td>
				<td th:text="${topic.down}"></td>
				<td th:text="${topic.text}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
